html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* p5 sketch container */
.sketch-container {
  width: 900px;
  height: 900px;
  position: relative;
}

/* p5 canvas */
#sketch {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  z-index: 0;
  top: 0;
}

/* gui position */
#gui {
  position: absolute;
  top: 900px;
  left: 900px;
  translate: calc(-100% - 1rem) calc(-100% - 2.2rem);
  /* bottom: 2.2rem; */
  /* left: 1rem; */
}